{% extends "base.html" %}

{% block content %}
    <div class="lol">
        <h5>Фамилия: {{surname}}</h5>
        <h5>Имя: {{name}}</h5>
        <h5>Образование: {{education}}</h5>
        <h5>Профессия: {{profession}}</h5>
        <h5>Пол: {{sex}}</h5>
        <h5>Мотивация: {{motivation}}</h5>
        <h5>Готовы остаться на Марсе? {{ready}}</h5>
    </div>
{% endblock %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href={{style}} />
{% endblock %}

{% block title_block %}
    {{title}}
{% endblock %}